@import "variables";

.input{
    max-width: $maxWidth;
    width: $widthInputs;
    height:$heightInputs;
    font-family: $fontFamily;
    margin-top:1.5vh;
    font-size:$fontSizeInput;
    border-radius: 10px;
    text-decoration: none;
}
//button blue background
.buttonBlueSubmit{
    background-color:$backgroundColor;
    cursor: pointer;
    border:none;
    color:white;
}
//inputs register, signin
input[type=text],input[type=password]{
    border: 1px solid #ccc;
    &:placeholder{
        color: $placeholderColor;
        text-align: center;
        font-family: $fontFamily;
        font-size: 14px;
    }
}
//blue small link sign in
.d{
    font-family: $fontFamily;
    font-size: 14px;
    line-height: 17px;
    height: 20px;
    text-align: center;
    color:$linkColor;
}
//heading under logo sign in
.headingDivDisplay{
    width: 80%;
    .heading{
        font-size: 24px;
        line-height: 28.8px;
        font-family: $fontFamily;
        font-weight: 560;
    }
}
.container{
    text-align: center;
    margin:0px;
    padding: 0px;
}
.greenAllow{
    max-width: $maxWidth;
    width:$widthInputs;
    height: $heightInputs;
    font-family: $fontFamily;
    box-sizing: border-box;
    display: inline-block; 
    font-size:$fontSizeInput;
    text-decoration: none;
    text-align: left;
}
.greenAllow{
    font-family:$fontSizeInput;
    font-size: 16px;
    line-height: 24px;
    color: $textColor;
}
.lg{
    box-shadow: 0px 0px 16px rgba(64, 117, 205, 0.16);
}

// ------------------- 

//main page sign in
.main{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .bigLogo{
        height:100vh;
        width: 100%;
        display: flex;
        position:fixed;
        top:0;
        left: 0;
        justify-content: center;
        align-items: center;
    }
    .body-container{
        width: 100%;
        height: 100vh;
        bottom: 70px;
        left: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .textUnderLogo{
        height:auto;
        width: 100%;
       padding-left: 5%;
       padding-right: 5%;
        p{
           text-align: center;
         
        }
    }
    .buttonMainPage{ 
        width: 90%;
        height: 60px;
        position:fixed;
        bottom: 20px;
        left: 5%;
        input{
            max-width: 100%     ;
        }
    }
}
.col-12{
    padding: 0; 
}
//sign in
.signin{
    margin-top: 60px;
    height: 95vh;
    width: 96%;
    margin-left: 2%;
    overflow: hidden;
    .row,.col-10,.col-12{
        padding: 0;
        margin:0;
    }
    .container{
        height: 95vh;
        width: 100%;
    }
    .headingSignin{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    //sign in body part
    .bodyPart{
        position: sticky;
        bottom:200px;
        left: 0;
        width: 100%;
        height: auto;
        }
        .signintoregister{
                width: 100%;
                padding: 0%;
                margin: 0%;
                position: fixed;
                bottom: 20px;
                left:0;
                p,span{
                    text-align: center;
                }
        }
        .logo{
                width: 100%;
                height: 100px;
        }
}
.infoAbout{
        color: #BBC3C6;
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
}

@media screen and (min-width: 400px) and (max-height: 400px){
    .main{
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }
        .bigLogo{
            height:300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .body-container{
            position: sticky;
            bottom: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .textUnderLogo{
            width: 400px;
        }
        .buttonMainPage{
            position:sticky;
            top:200px;
            width:350px;
        }
       
    .signintoregister{
        position:sticky;
        bottom:0;
        left: 0;
        display: flexbox;
        height: 80px;
        width: 100%;
    }
    .bodyPart{

    }
}