@import "variables";

.input{
    max-width: $maxWidth;
    width: $widthInputs;
    height:$heightInputs;
    font-family: $fontFamily;
    margin-top:1.5vh;
    font-size:$fontSizeInput;
    border-radius: 10px;
    text-decoration: none;
}
//button blue background
.buttonBlueSubmit{
    background-color:$backgroundColor;
    cursor: pointer;
    border:none;
    width:95vw;
    color:white;
}
//inputs register, signin
input[type=text],input[type=password]{
    border: 1px solid #ccc;
    text-align: center;
    outline: none;
    &:placeholder{
        color: #BBC3C6;
        font-family: $fontFamily;
        font-size: 14px;
    }
}
.navbar{
    height:56px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content:flex-start;
    text-align: center;
    align-items: center;
    background-color: white;
    top:0;
    z-index: 1;
    left: 0;
}
.hr{
    height: 1px;
    width: 100%;
    position: fixed;
    top:56px;
    left: 0;
    background-color:  #E4E4E4;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.backButton{
    display: flex;
    height: 56px;
    width:40px;
    position: absolute;
    left: 0;
    top:auto;
}
.centerText{
    display: flex;
    height: 56px;
    width: 100%;
    z-index: 2;
    position: fixed;
    left: 0;
    top:auto;
    justify-content:center;
    align-items: center;
    span{
        font-size: 17px;
        font-weight:bold;
        line-height: 20px;
    }
}
.greenAllow{
    text-decoration: none;
    text-align: left;
    .row,.col-1,.col-11{
        padding: 0;
        margin: 0;
    }
    img{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 24px;
        height: 24px;
    }
    span{
        display: flex;
        height: auto;
        width: 90%;
        padding-left: 5px;
        font-weight: 590;
        font-size: 14px;
        align-items: center;
        justify-content: flex-start;
    }
}

//signin form

.signin{
    form{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
//forgot click
.forgot-password{
    margin: 10px 0px;
}
//blue small link sign in
.d{
    font-family: $fontFamily;
    font-size: 14px;
    line-height: 17px;
    height: 20px;
    text-align: center;
    color:$linkColor;
}
//heading under logo sign in
.headingDivDisplay{
    width: 80%;
    .heading{
        font-size: 24px;
        line-height: 28.8px;
        font-family: $fontFamily;
        font-weight: 560;
    }
}
.container{
    text-align: center;
    margin:0px;
    padding: 0px;
}
.lg{
    box-shadow: 0px 0px 16px rgba(64, 117, 205, 0.16);
}

// ------------------- 

//main page sign in
.main{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .bigLogo{
        height:100vh;
        width: 100%;
        display: flex;
        position:fixed;
        top:0;
        left: 0;
        justify-content: center;
        align-items: center;
    }
    .body-container{
        width: 100%;
        height: 100vh;
        bottom: 70px;
        left: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .textUnderLogo{
        height:auto;
        width: 100%;
       padding-left: 5%;
       padding-right: 5%;
        p{
           text-align: center;
         
        }
    }
    .buttonMainPage{ 
        width: 90%;
        height: 60px;
        position:fixed;
        bottom: 20px;
        left: 5%;
        input{
            max-width: 100%;
        }
    }
}
.col-12{
    padding: 0; 
}
//sign in
.signin{
    margin-top: 60px;
    height: auto;
    width: 96%;
    margin-left: 2%;
    overflow: hidden;
    .row,.col-10,.col-12{
        padding: 0;
        margin:0;
    }
    .container{
        height: 95vh;
        width: 100%;
    }
    .headingSignin{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    //sign in body part
    .bodyPart{
        position: sticky;
        bottom:200px;
        left: 0;
        width: 100%;
        height: auto;
        }
        .signintoregister{
                width: 100%;
                padding: 0%;
                margin: 0%;
                position: fixed;
                bottom: 20px;
                left:0;
                p{
                    text-align: center;
                }
        }
        .logo{
                width: 100%;
                height: 100px;
        }
}
.infoAbout{
        color: #BBC3C6;
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
}

@media screen and (max-width: 900px) and (max-height: 500px){
    .main{
        height: 90vh;
        width: 100%;
        margin: 0;
        margin-bottom: 10vh;
        padding: 0;
        .bigLogo{
            height: auto;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .body-container{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            bottom: 0;
            height: auto;
            a{
                width: 100%;
                display: block;
                box-sizing: border-box;
                padding: 0 20px;
            }
        }
        .textUnderLogo{
            width: auto;
            position: relative;
            a{
                width: auto;
                display: unset;
                padding: 0;
            }
        }
        .buttonMainPage{
            position: relative;
            bottom: 0;
            width: auto;
            left: 0;
        }
    }
       
    .signintoregister{
        position:sticky;
        bottom:0;
        left: 0;
        display: flexbox;
        height: 80px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) and (max-height: 560px){
    .signin{
        height: 100%;
        .container{
            height: 100%;
        }
        .bodyPart{
            position: relative;
            bottom: 0
        }
        .signintoregister{
            position: relative;
            bottom: 0;
        }
    }
}
.registerBody{
    margin-top: 50px;
}
.check-container{
    width: 90%;
    margin-left: 5%;
}
.gender{
    width:100%;
    min-width: 100px;
    max-width: 200px;
    height: 176px;
    border: 1px solid #D6D9E0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    .check{
        text-align: right;
        margin-right: 19px;
        margin-top: 16px;
    }
    .content{
        height: 130px;
        width: 100%;
    }
    .content p{
        color: #2D3142;
        font-family: SF Pro Text;
        font-size: 16px;
        line-height: 14px;
    }
}
.date{
    *{
        box-sizing: border-box;
      }
      .alignment{
        margin: 0 auto;
        padding: 10%;
        text-align: center;
      }
      .alignment_content{
        width: 400px;
        margin: 0 auto;
        overflow-y: hidden;
        position: relative;
      }

      .dates div::-webkit-scrollbar {
        display: none;
      }

      .hide_it{
        visibility: hidden;
      }

      .dates div {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      .dates{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .dates div{
        position: relative;
        user-select: none;
        z-index: 1001;
        transition: 0.1s all;
        overflow-y: scroll;
      }
      .indicator{
        border-top: 1.4px solid #466c99;
        border-bottom: 1.4px solid #466c99;
        position: absolute;
        top: 50%;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
      .level1{
        font-size: 19px;
      }
      .level2{
        font-size: 16px;
        opacity: 0.7;
      }
      .level3{
        font-size: 13px;
        opacity: 0.3;
      }
      .dates div{
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .dates div span{
        padding: 10px;
        transition: 0.2s all;
      }
}

.height{
    overflow:hidden;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .pickerPart{
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-family: $fontFamily;
        padding: 10px;
        border-bottom: 1px solid  #5AC9E9;
        border-top: 1px solid  #5AC9E9;
    }
    .second{
        color:rgb(109, 109, 109);
        width: 100px;
        padding: 5px;
        font-size: 20px;
    }
    .first{
        color:rgb(179, 178, 178);
        font-size: 16px;
    }
}
  
.lifeStyle{
    border: 1px solid #ccc;
    max-width: 343px;
    width: 90%;
    height: auto;
    margin-right:0;
    margin-left:0;
    padding: 10px;
    font-family: SF Pro Text;
    box-sizing: border-box;
    display: inline-block; 
    margin-top:16px;
    font-size:17px;
    border-radius: 10px;
    text-decoration: none;
    text-align: left;
    background: #FFFFFF;
    .row{
        height: auto;    
    }
    .lifeStyle span{
        font-family: SF Pro Text;
        font-size: 16px;
        line-height: 24px;
        color: #2C2A26;
    }
    .lg{
        box-shadow: 0px 0px 16px rgba(64, 117, 205, 0.16);
    }
}
.podText{
    font-family: SF Pro Text;
    font-size: 16px;
    line-height: 24px;
    color:#999999;
    text-align: center;
  }
.registerstep{
  margin-top: 50px;
  height: 100%;
  width: 100%;
}
.register{
    margin-top: 60px;
    height: 100%;
    width: 100%;
    .row,.col-10,.col-12{
        padding: 0;
        margin:0;
    }
    .container{
        height: 95vh;
        width: 100%;
    }
    .headingSignin{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .btn{
        margin-bottom: 20px;
    }
}