@import "variables";

.input{
    max-width: $maxWidth;
    width: $widthInputs;
    height:$heightInputs;
    font-family: $fontFamily;
    margin-top:1.5vh;
    font-size:$fontSizeInput;
    border-radius: 10px;
    text-decoration: none;
}
//button blue background
.buttonBlueSubmit{
    background-color:$backgroundColor;
    cursor: pointer;
    border:none;
    width:95vw;
    color:white;
}
.buttonRedSubmit{
    background-color:$backgroundColor2;
    cursor: pointer;
    border:none;
    width:95vw;
    color:white;
}
//inputs register, signin
input[type=text],input[type=password]{
    border: 1px solid #ccc;
    text-align: center;
    outline: none;
    &:placeholder{
        color: #BBC3C6;
        font-family: $fontFamily;
        font-size: 14px;
    }
}
.navbar{
    height:56px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content:flex-start;
    text-align: center;
    align-items: center;
    background-color: white;
    top:0;
    z-index: 1;
    left: 0;
}
.hr{
    height: 1px;
    width: 100%;
    position: fixed;
    top:56px;
    left: 0;
    background-color:  #E4E4E4;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.backButton{
    display: flex;
    height: 56px;
    width:40px;
    position: absolute;
    left: 0;
    top:auto;
}
.calendar{
    display: flex;
    height: 24px;
    width:40px;
    position: absolute;
    right: 0;
    top:auto;
   
}
.centerText{
    display: flex;
    height: 56px;
    width: 100%;
    z-index: 2;
    position: fixed;
    left: 0;
    top:auto;
    justify-content:center;
    align-items: center;
    span{
        font-size: 17px;
        font-weight:bold;
        line-height: 20px;
    }
}
.greenAllow{
    text-decoration: none;
    text-align: left;
    .row,.col-1,.col-11{
        padding: 0;
        margin: 0;
    }
    img{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 24px;
        height: 24px;
    }
    span{
        display: flex;
        height: auto;
        width: 90%;
        padding-left: 5px;
        font-weight: 590;
        font-size: 14px;
        align-items: center;
        justify-content: flex-start;
    }
}

//signin form

.signin{
    form{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
//forgot click
.forgot-password{
    margin: 10px 0px;
}
//blue small link sign in
.d{
    font-family: $fontFamily;
    font-size: 14px;
    line-height: 17px;
    height: 20px;
    text-align: center;
    color:$linkColor;
}
//heading under logo sign in
.headingDivDisplay{
    width: 80%;
    .heading{
        font-size: 24px;
        line-height: 28.8px;
        font-family: $fontFamily;
        font-weight: 560;
    }
}
.container{
    text-align: center;
    margin:0px;
    padding: 0px;
}
.lg{
    box-shadow: 0px 0px 16px rgba(64, 117, 205, 0.16);
}

// ------------------- 

//main page sign in
.main{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .bigLogo{
        height:100vh;
        width: 100%;
        display: flex;
        position:fixed;
        top:0;
        left: 0;
        justify-content: center;
        align-items: center;
    }
    .body-container{
        width: 100%;
        height: 100vh;
        bottom: 70px;
        left: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .textUnderLogo{
        height:auto;
        width: 100%;
       padding-left: 5%;
       padding-right: 5%;
        p{
           text-align: center;
         
        }
    }
    .buttonMainPage{ 
        width: 90%;
        height: 60px;
        position:fixed;
        bottom: 20px;
        left: 5%;
        input{
            max-width: 100%;
        }
    }
}
.col-12{
    padding: 0; 
}
//sign in
.signin{
    margin-top: 60px;
    height: auto;
    width: 96%;
    margin-left: 2%;
    overflow: hidden;
    .row,.col-10,.col-12{
        padding: 0;
        margin:0;
    }
    .container{
        height: 95vh;
        width: 100%;
    }
    .headingSignin{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    //sign in body part
    .bodyPart{
        position: sticky;
        bottom:200px;
        left: 0;
        width: 100%;
        height: auto;
        }
        .signintoregister{
                width: 100%;
                padding: 0%;
                margin: 0%;
                position: fixed;
                bottom: 20px;
                left:0;
                p{
                    text-align: center;
                }
        }
        .logo{
                width: 100%;
                height: 100px;
        }
}
.infoAbout{
        color: #BBC3C6;
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
}

@media screen and (max-width: 900px) and (max-height: 500px){
    .main{
        height: 90vh;
        width: 100%;
        margin: 0;
        margin-bottom: 10vh;
        padding: 0;
        .bigLogo{
            height: auto;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .body-container{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            bottom: 0;
            height: auto;
            a{
                width: 100%;
                display: block;
                box-sizing: border-box;
                padding: 0 20px;
            }
        }
        .textUnderLogo{
            width: auto;
            position: relative;
            a{
                width: auto;
                display: unset;
                padding: 0;
            }
        }
        .buttonMainPage{
            position: relative;
            bottom: 0;
            width: auto;
            left: 0;
        }
    }
       
    .signintoregister{
        position:sticky;
        bottom:0;
        left: 0;
        display: flexbox;
        height: 80px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) and (max-height: 560px){
    .signin{
        height: 100%;
        .container{
            height: 100%;
        }
        .bodyPart{
            position: relative;
            bottom: 0
        }
        .signintoregister{
            position: relative;
            bottom: 0;
        }
    }
}
.registerBody{
    margin-top: 50px;
}
.check-container{
    width: 90%;
    margin-left: 5%;
}
.gender{
    width:100%;
    min-width: 100px;
    max-width: 200px;
    height: 176px;
    border: 1px solid #D6D9E0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    .check{
        text-align: right;
        margin-right: 19px;
        margin-top: 16px;
    }
    .content{
        height: 130px;
        width: 100%;
    }
    .content p{
        color: #2D3142;
        font-family: SF Pro Text;
        font-size: 16px;
        line-height: 14px;
    }
}
.date{
    
    *{
        box-sizing: border-box;
      }
      .alignment{
        margin: 0 auto;
        padding: 10%;
        text-align: center;
      }
      .alignment_content{
        width: 100%;
        margin: 0 auto;
        overflow-y: hidden;
        position: relative;
      }

      .dates div::-webkit-scrollbar {
        display: none;
      }

      .hide_it{
        visibility: hidden;
      }

      .dates div {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      .dates{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .dates div{
        position: relative;
        user-select: none;
        z-index: 1001;
        transition: 0.1s all;
        overflow-y: scroll;
      }
      .indicator{
        border-top: 1.4px solid #5AC9E9;
        border-bottom: 1.4px solid #5AC9E9;
        position: absolute;
        top: 50%;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
      .level1{
        font-size: 19px;
      }
      .level2{
        font-size: 16px;
        opacity: 0.7;
      }
      .level3{
        font-size: 13px;
        opacity: 0.3;
      }
      .dates div{
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .dates div span{
        padding: 10px;
        transition: 0.2s all;
      }
}

.height{
    overflow:hidden;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .pickerPart{
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-family: $fontFamily;
        padding: 10px;
        border-bottom: 1px solid  #5AC9E9;
        border-top: 1px solid  #5AC9E9;
    }
    .second{
        color:rgb(109, 109, 109);
        width: 100px;
        padding: 5px;
        font-size: 20px;
    }
    .first{
        color:rgb(179, 178, 178);
        font-size: 16px;
    }
}
  
.lifeStyle{
    border: 1px solid #ccc;
    max-width: 343px;
    width: 90%;
    height: auto;
    margin-right:0;
    margin-left:0;
    padding: 10px;
    font-family: SF Pro Text;
    box-sizing: border-box;
    display: inline-block; 
    margin-top:16px;
    font-size:17px;
    border-radius: 10px;
    text-decoration: none;
    text-align: left;
    background: #FFFFFF;
    .row{
        height: auto;    
    }
    .lifeStyle span{
        font-family: SF Pro Text;
        font-size: 16px;
        line-height: 24px;
        color: #2C2A26;
    }
    .lg{
        box-shadow: 0px 0px 16px rgba(64, 117, 205, 0.16);
    }
    .linktodis{
        
        display: flex;
        align-items: center;
        height: auto;
        width: auto;
      
        span{
            margin-right: 5px;
            font-size: 16px;
            line-height: 20px;
        }
        i{
            font-size: 18px;
        }
    }
   
}
.none{
    display: none;
}
.podText{
    font-family: SF Pro Text;
    font-size: 16px;
    line-height: 24px;
    color:#999999;
    text-align: center;
  }
.registerstep{
  margin-top: 50px;
  height: auto;
  width: 100%;
}
.register{
    margin-top: 60px 0 0 0;
    height: 100%;
    width: 100%;
    padding: 0;
    .row,.col-10,.col-12,.container{
        padding: 0;
        margin:0;
    }
    .container{
        height: 95vh;
        width: 100%;
    }
    .headingSignin{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .btn{
        margin-bottom: 20px;
    }
}
.dis{
    width: 95%;
    margin-left: 5%;
    font-family:$fontFamily;
    text-align: left;
    border-bottom: 0.5px solid #dbdadada;
    padding: 10px 10px 10px 0px;
    .name{
        font-size: 17px;
        line-height: 22px;
        color:black;
        font-weight: 570;
        letter-spacing: -0.41px;
    }
    .nameRed{
        font-size: 17px;
        line-height: 22px;
        color:red;
        letter-spacing: -0.41px;
    }
   .col-11,.col-1{
       padding: 0;
       margin: 0;
   }
}
.nameD{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.24px;
    color: #999999;
}
    .row,.col-10,.col-1,.col-12{
        margin: 0;
        padding: 0;
    }
   .searchLeft{   
        height: 36px;
        width: 90%;
        margin:2% 5%;
        background: rgba(142, 142, 147, 0.12);
        border-radius: 10px;
        background-image: url(../images/Search.svg);
        background-repeat: no-repeat;
        padding: 10px 40px;
        border: none;
        background-position: left;
        &:placeholder{
            color: rgba(0, 0, 0, 0.4);
            font-family: SF Pro Text;
            font-size: 17px;
            line-height: 22px;
            text-align: left;
            padding: 5px;
            letter-spacing: -0.41px;
        }
        &:focus{
            outline: none;
            border: none;
        }
    }
    .fa-angle-right{
        color: #D1D1D6;
    }
    .searchCenter{
        height: 36px;
        width: 90%;
        margin:2% 5%;
        background: rgba(142, 142, 147, 0.12);
        border-radius: 10px;
        background-image: url(../images/Search-1.svg);
        background-repeat: no-repeat;
        padding: 10px 40px;
        border: none;
        text-align: center;
        background-position: center;
        &:placeholder{
            color: rgba(0, 0, 0, 0.4);
            font-family: SF Pro Text;
            font-size: 17px;
            line-height: 22px;
            text-align: center;
            padding: 5px;
            letter-spacing: -0.41px;
        }
        &:focus{
            outline: none;
            border: none;
            text-align: left;
            background-position: left;
            background-image: url(../images/Search.svg);
        }
    }
.chooseSystem{
    height: auto;
    width:95%;
    margin-left: 5%;
    padding: 12px 2px 12px 0px;
    text-align: left;
    border-bottom: 0.5px solid #E4E4E4;
    span{
        font-size: 16px;
        font-family: $fontFamily;
        line-height: 24px;
    }
}
.allowInfo{
    background: #F4F6FA;
    height: auto;
    width: 100%;
    margin-top: -2px;
    padding: 15px;
    font-size: 14px;
    font-family: $fontFamily;
    line-height: 20px;
    text-align: left;
}
.displayDoctors{
    width: 100%;
    height: auto;
    margin: 50px 0 0 0;
    overflow-x: scroll;
    padding: 0;
}
.container{
    padding: 0;
    margin: 0;
}
.scrollButton{
    font-size: 15px;
    margin:80px 0px 10px 0px;
    font-family: $fontFamily;
    line-height: 20px;
    height: 38p;
    width: 90%;
    margin-left: 5%;
    border-radius: 4px;
    border:1px solid #0B8BD2;
    text-align: center;
    .active{
        background-color: #0B8BD2;
        width: 50%;
        height: 38px;
        color:white;
        border:none;
        outline: none;
       
    }&:focus{
        outline: none;
    }
    .notactive{
        background-color: white;
        width: 50%;
        color:#0B8BD2;
        height: 38px;
        border:none;
        border-radius:4px;
    }&:focus{
        outline: none;
        border: none;

    }
}
.searchpage{
    width: 100%;
    height: 100%;
    .searchdiv{
        display: flex;
        height: 50px;
        width: 100%;      
        .searchClose{
            border: none;
            outline: none;
            background-color: white;
            color:#0B8BD2;
            font-size: 16px;
            display: flex;
            font-weight: 550;
            font-family: $fontFamily;
            align-items: center;
            margin: 5px 10px 5px 0px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.0375em;
        }
    }
}
.displaycard{
    height:372px;
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E5E5E5;
}
.card{
    height: 340px;
    width: 330px;
    display: inline-flex;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(112, 136, 210, 0.1);
    border-radius: 10px;
    img{
        height: 200px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    span{
        font-family:$fontFamily;
        font-size: 20px;
        line-height: 26px;
        text-align:left;
        padding: 16px;
        letter-spacing: 0.25px;
        color: #2D3142;
    }
    p{
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 14px;
        height:372px;
        width: 100%;
        padding: 0px 16px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        letter-spacing: 0.2px;
        color: #BBC3C6;
    }
}
.news{
    height: auto;
    width: 90%;
    margin-left: 5%;
    padding: 15px 0;
    border-bottom:1px solid rgba(0, 0, 0, 0.0649626);
    display: flex;
    align-items: center;
    text-align: left;
    .img{
        width: 20%;
        height: 70px;
        border-radius: 8px;
    }
    .text{
        height: auto;
        width: 80%;
        padding-left: 10px;
        .span{
            font-family: $fontFamily;
            font-size: 16px;
            letter-spacing: 0.2px;
            color: #2D3142;
            line-height: 24px;
            font-weight: 600;
        }
        .p{
            font-family: $fontFamily;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #9C9EB9;
        }
    }
}
.newsMedicine{
    font-family: $fontFamily;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    margin-left: 4%;
    letter-spacing: -0.3px;
    color: #000000;
    font-weight: bold;
}
.carousel{
    margin-top: 20px;
}
.footer{
    position: fixed;
    z-index: 4;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    background: white;
    height:60px;
    border-top: 1px solid #E4E4E4;
    img{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }
}
.newsdiv{
 padding-bottom: 60px;
 height: auto;
 width: 100%;
}
.foot{
    height: 15px;
    width: 100%;
    margin-top: 10px;
    background: #ececec;
}
.imgNews{
    height: auto;
    width: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center;
}
.descNews{
   width: 90%;
   margin-left:5%;
   text-align: left;
   padding: 16px 0 44px 0;
   span{
    font-family:$fontFamily;
    font-size: 16px;
    line-height: 24px;
    color: #2D3142;
   }
}
.headingText{
    width: 90%;
    margin-top: 60px;
    text-align: left;
    margin-left: 5%;
    .dateP{
        font-family: $fontFamily;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #9C9EB9;
    }
    .heading{
        font-family: $fontFamily;
        font-size: 24px;
        letter-spacing: 0.25px;
        color: #2D3142;
        font-weight: 600;
    }
}
// --------------------------
.profile{
    text-align: left;
    height: auto;
    width: 100%;
    padding-bottom: 60px;
        .span{
            font-family: $fontFamily;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.3px;
            font-weight: 700;
        }
        .colorNot{
            color:#0A633C;
            font-family: $fontFamily;
            font-size: 16px;
        }
        .color{
            color: #2C2A26;
            font-family: $fontFamily;
            font-size: 16px;
        }
        .info{
            height: 100px;
            width: 100%;
            margin-top: 50px;
            display: flex;
            background-color: white;
            align-items: center;
        }
        .imgCamera{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #BBC3C6;
            color:white;
        }
        .personAge{
            font-family: $fontFamily;
            font-size: 15px;
            line-height: 18px;   
            color: #BBC3C6;
            letter-spacing: -0.2px;
        }
        .email{
            font-family: $fontFamily;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.2px;
            color: #0B8BD2;
        }
        .personName{
            font-family: $fontFamily;
        font-size: 24px;
        color: #000000;
        line-height: 29px;
        }
        .divName{
        width: 80%;
        margin-left: 5%;
        }
        .size{
            background: white;
            height:auto;
            padding: 10px 0px;
            width: 95%;
            margin-left: 5%;
            display: flex;
            border-bottom: 1px solid #E4E4E4;
            align-items: center;
            justify-content: space-between;
        }
        .nameOfSize{
            display: flex; 
            padding-left: 10px;
            justify-content:start;
            width:auto;
        }
        .numOfSize{
            display: flex;
            padding-right: 5%;
            width:auto;
            text-align: right;
            justify-content:flex-end;
        }
        .numOfSize span{
            text-align: right;
            display: flex;
            letter-spacing: 0.35px;
            font-family:$fontDisplayFamily;
            font-size: 20px;
            color: #0A633C;
        }
        .nameOfSize span{
            font-family:$fontDisplayFamily;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            letter-spacing: 0.35px;
            color: #000000;
        }
        .desc{
            padding-top: 10px;
            width: 100%;
            padding-bottom: 10px;
            padding-left: 5%;
            padding-right: 5%;
        }
        .p{
            font-family: $fontFamily;
            font-size: 14px;
            color: #BBC3C6;
            padding: 0;
        }
        .descn{
            border-bottom: 0.5px solid #dbdadada;
        }
        .descNull{
            border-bottom: none;
        }
        .null{
            display: none;
        }
        .thingDiv{
            width: 100%;
            height: auto;
            background-color: white;
            padding: 10px 0;
            border-bottom: 1px solid #dbdadada;
        }
        .thing{
            width: 100%;
            height: auto;
        }
        .row,.col-8,.col-3{
            padding: 0;
            margin:0;
        }
        .span1{
            font-family: $fontFamily;
            font-size: 15px;
            letter-spacing: -0.2px;
            color: hsl(0, 0%, 0%);
            padding: 0;
            font-weight: bolder;
            line-height: 17px;
        }
        .span2{
            font-family: $fontFamily;
            font-size: 14px;
            color: #999999;
            line-height: 15px;
        }
        .span3{
            font-family: $fontFamily;
            font-size: 14px;
            color: #BBC3C6;
            line-height: 15px;
        }
        .div{
            height: 6px;
            width: 100%;
            background-color: #ececec;
        }
}
.rec{
    width: 90%;
    height: auto;
    margin-top: 65px;
    margin-left: 5%;
    text-align: left;
    span{
        font-size: 17px;
        line-height: 30px;
        font-family: $fontFamily;
        letter-spacing: -0.2px;
        color: hsl(0, 0%, 0%);
        font-weight: bolder;
    }
}
.backGround{
    background-color: #ececec;
    height:100vh;
    position: fixed;
    width: 100%;
    top: 58px;
    left: 0;
}
.textDiv{
    width: 90%;
    margin-left: 5%;
    text-align: left;
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 24px;
    color: #2D3142;
}
.disChoose{
    width: 100%;
    height: auto;
    padding: 15px 0 10px 0;
    span{
        font-family:$fontFamily;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
}
.redBtn{
    height: 130px;
    display: flexbox;
    width:100%;
    align-self: flex-start;
}
.show{
    height: auto;
    margin-bottom: 20px;
    width:100%;
}
.postHeading{
    width: 86%;
    margin-left: 8%;
    padding: 10px 0;
    p{
        font-family: $fontFamily;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #2C2A26;
    }
}
.anketaText{
    max-width: $maxWidth;
    width: $widthInputs;
    height:auto;
    padding: 10px;
    font-family: $fontFamily;
    margin-top:1.5vh;
    font-size:$fontSizeInput;
    border-radius: 10px;
    text-decoration: none;
    .input-sizer {
        display: inline-grid;
        vertical-align: top;
        align-items: center;
        position: relative;
        border: solid 1px;
        padding: .25em .5em;
        margin: 5px;
        &.stacked {
          padding: .5em;
          align-items: stretch;
          
          &::after,
          input,
          textarea {
            grid-area: 2 / 1;
          }
        }
        &::after,
        input,
        textarea {
          width: auto;
          min-width: 1em;
          grid-area: 1 / 2;
          font: inherit;
          padding: 0.25em;
          margin: 0;
          resize: none;
          background: none;
          appearance: none;
          border: none;
        }
        span {
          padding: 0.25em;
        } 
        &::after {
          content: attr(data-value) ' ';
          visibility: hidden;
          white-space: pre-wrap;
        }
        
        &:focus-within {
          outline: solid 1px blue;
          box-shadow: 4px 4px 0px blue;
          
          > span { color: blue; }
          
          textarea:focus,
          input:focus {
            outline: none;
          }
        }
      }
}
.backColor{
    background-color:#E5E5E5;
}
.anketas{
    height: auto;
    width: 100%;
   padding-bottom: 150px;
   overflow-y: scroll;
    .texts{
            line-height: 24px;
            text-align: center;
            padding: 10px;
            width: 90%;
            margin-left: 5%;
            height: auto;
        p{
            font-family: $fontFamily;
            font-size: 14px;
            color: #0A633C;
        }
        span{
            font-size: 16px;
            color: #2C2A26;
        }
    }
}
.anketaDiv{
    height:auto;
    width: 100%;
    .btns{
        display: flex;
        justify-self: center;
        margin-bottom: 70px;
    }
}