$backgroundColor:#0B8BD2;
$fontFamily:SF Pro Text;
$maxWidth:350px;
$heightInputs:48px;
$fontSizeInput:17px;
$widthInputs:100%;
$placeholderColor:#BBC3C6;
$textColor:#2C2A26;
$linkColor: #007AFF;

@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);